In [109]:
import os
import numpy as np
import pandas as pd
%load_ext nb_black

class config:
    data_path = '../../../datasets/garanti-bbva-data-camp/'

The nb_black extension is already loaded. To reload it, use:
  %reload_ext nb_black

In [92]:
os.listdir(config.data_path)

['train_users.csv',
 'education.csv',
 'skills.csv',
 'submission.csv',
 'work_experiences.csv',
 'test_users.csv',
 'languages.csv']

In [93]:
train_df = pd.read_csv(os.path.join(config.data_path, 'train_users.csv'))
test_df = pd.read_csv(os.path.join(config.data_path, 'test_users.csv'))
submission = pd.read_csv(os.path.join(config.data_path, 'submission.csv'))
skills = pd.read_csv(os.path.join(config.data_path, 'skills.csv')) 
work_experiences = pd.read_csv(os.path.join(config.data_path, 'work_experiences.csv')) 
languages = pd.read_csv(os.path.join(config.data_path, 'languages.csv'))
education = pd.read_csv(os.path.join(config.data_path, 'education.csv'))

print(f'train_df shape: {train_df.shape}')
print(f'test_df shape: {test_df.shape}')
print(f'submission shape: {submission.shape}')
print(f'skills shape: {skills.shape}')
print(f'work_experiences shape: {work_experiences.shape}')
print(f'education shape: {education.shape}')
print(f'languages shape: {languages.shape}')

train_df shape: (53019, 4)
test_df shape: (13255, 3)
submission shape: (13255, 2)
skills shape: (1398443, 2)
work_experiences shape: (187019, 4)
education shape: (142575, 6)
languages shape: (76062, 3)

In [94]:
train_df.head()

,user_id,industry,location,moved_after_2019
0,1301,Information Technology and Services,"Istanbul, Istanbul, Turkey",1
1,6950,Internet,"Istanbul, Istanbul, Turkey",0
2,4880,Online Media,Turkey,0
3,26046,Telecommunications,"Istanbul, Istanbul, Turkey",0
4,11005,Banking,"Istanbul, Turkey",0

In [95]:
test_df.head()

   user_id                             industry                    location
0    17449                             Research                      Turkey
1    33967                    Computer Software  Istanbul, Istanbul, Turkey
2     2110                           Automotive                      Turkey
3    55082                             Internet                      Turkey
4    37165  Electrical/Electronic Manufacturing                      Turkey

In [96]:
for user in train_df['user_id'].unique():

    if user in test_df['user_id'].unique():

        print(user)

### Skills Data

In [97]:
def skills_preprocess(skill_df: pd.DataFrame) -> pd.DataFrame:

    skill_df_ = skill_df.copy()
    skill_df_['skill'] = skill_df_['skill'].apply(lambda x: x.strip())

    skills_to_replace = {
                        'Web Geliştirme': 'Web Development',
                        'Proje Yönetimi': 'Project Management',
                        'Programlama': 'Programming',
                        'Object-Oriented Programming (OOP)': 'OOP',
                        'Object Oriented Programming (OOP)': 'OOP',
                        'OOP (Nesne Yönelimli Programlama)': 'OOP',
                        'OOP(Object Oriented Programming)': 'OOP',
                        'OOP (Object Oriented Programming)': 'OOP',
                        'Objektorientierte Programmierung (OOP)': 'OOP',
                        'Object-Oriented Programming(OOP)': 'OOP',
                        'OOP(Object Orianted Programming)': 'OOP',
                        'OOP (Nesne Yönelimli Programlama': 'OOP',
                        'OOP programming and implementing design patterns': 'OOP',
                        'OOP(Object-Oriented Programming)': 'OOP',
                        'Nesne Yönelimli Programlama(OOP)': 'OOP',
                        'Object Oriented Programming(OOP)': 'OOP',
                        'Programación orientada a objetos (OOP)': 'OOP',
                        'OOP ( Object Oriented Programming )': 'OOP',
                        'OOP (Object-Oriented Programming)': 'OOP',
                        'OOP ( Object - Oriented Programming )': 'OOP',
                        'OOP(Nesne Yönelimli Programlama)':'OOP',
                        'Object-oriented Programming (OOP)': 'OOP',
                        'C, C++ (OOP), Linux': 'OOP',
                        'OOP Design': 'OOP',
                        'Advanced OOP': 'OOP',
                        }

    for key in skills_to_replace.keys():
        
        skill_df_['skill'] = skill_df_['skill'].replace(key, skills_to_replace[key])

    return skill_df_

In [98]:
skills.shape

(1398443, 2)

In [99]:
skills['skill'] = skills['skill'].apply(lambda x: x.strip())

skills_to_replace = {'Web Geliştirme': 'Web Development',
                     'Proje Yönetimi': 'Project Management',
                     'Programlama': 'Programming',
                     'Object-Oriented Programming (OOP)': 'OOP',
                     'Object Oriented Programming (OOP)': 'OOP',
                     'OOP (Nesne Yönelimli Programlama)': 'OOP',
                     'OOP(Object Oriented Programming)': 'OOP',
                     'OOP (Object Oriented Programming)': 'OOP',
                     'Objektorientierte Programmierung (OOP)': 'OOP',
                     'Object-Oriented Programming(OOP)': 'OOP',
                     'OOP(Object Orianted Programming)': 'OOP',
                     'OOP (Nesne Yönelimli Programlama': 'OOP',
                     'OOP programming and implementing design patterns': 'OOP',
                     'OOP(Object-Oriented Programming)': 'OOP',
                     'Nesne Yönelimli Programlama(OOP)': 'OOP',
                     'Object Oriented Programming(OOP)': 'OOP',
                     'Programación orientada a objetos (OOP)': 'OOP',
                     'OOP ( Object Oriented Programming )': 'OOP',
                     'OOP (Object-Oriented Programming)': 'OOP',
                     'OOP ( Object - Oriented Programming )': 'OOP',
                     'OOP(Nesne Yönelimli Programlama)':'OOP',
                     'Object-oriented Programming (OOP)': 'OOP',
                     'C, C++ (OOP), Linux': 'OOP',
                     'OOP Design': 'OOP',
                     'Advanced OOP': 'OOP',
                     }

for key in skills_to_replace.keys():

    skills['skill'] = skills['skill'].replace(key, skills_to_replace[key])

In [100]:
skills.loc[skills['skill'].str.contains('OOP'), 'skill'].value_counts()

OOP                                                    16719
HADOOP                                                     4
Java OOP                                                   2
LOOPBACK                                                   2
OOP and Procedural Programming                             2
OOP, Software Design Pattern, SOLID Principle              1
C# OOP(Object Oriented Programming)                        1
OOP & SOLID Principles                                     1
OOP Principles                                             1
Object-Oriented Programming (OOP) in Python and C++        1
OOP - Design Patterns                                      1
Python OOP                                                 1
Name: skill, dtype: int64

In [101]:
skills['skill'].value_counts()[60:80]

Maven                            3164
Oracle                           3066
Python (Programming Language)    3045
Android Development              2971
SOAP                             2954
Software Design                  2732
Machine Learning                 2650
Software Project Management      2642
LINQ                             2633
TFS                              2621
Liderlik                         2584
Management                       2583
Teamwork                         2497
TCP/IP                           2497
Angular                          2494
UML                              2471
Agile Metotları                  2463
Spring Boot                      2436
PowerPoint                       2385
Cascading Style Sheets (CSS)     2380
Name: skill, dtype: int64

In [102]:
skills.loc[skills['skill'].str.contains('CSS'), 'skill'].value_counts()[:30]

CSS                                                        15117
Cascading Style Sheets (CSS)                                2380
CSS3                                                        1374
SCSS                                                         179
HTML + CSS                                                    96
CSS Javascript                                                81
Tailwind CSS                                                  69
CSS 3                                                         45
CSS Flexbox                                                   40
Advanced CSS                                                  34
HTML/CSS                                                      27
OOCSS                                                         20
Materialize CSS                                               16
CSS Sprites                                                   14
CSS Grid Layout                                               11
CSS2                                                          11
TailwindCSS                                                   11
SASS (SCSS)                                                    8
SCSS / SASS                                                    8
PostCSS                                                        8
SMACSS                                                         7
ECSS                                                           6
HTML & CSS                                                     5
Programming in HTML5 with JavaScript and CSS3 Bootstrap        5
CSS Modules                                                    5
HTML CSS                                                       5
CSS5                                                           4
Sass/SCSS                                                      4
Html / CSS                                                     4
HTML-CSS-Javascript                                            4
Name: skill, dtype: int64

In [103]:
skills.loc[skills['user_id'] == 47084]

        user_id                                skill
993414    47084            Go (Programming Language)
993415    47084                        Microservices
993416    47084                 Software Engineering
993417    47084                                  OOP
993418    47084                         Web Services
993419    47084               Object Oriented Design
993420    47084                  Mobile Applications
993421    47084                 Software Development
993422    47084                      Troubleshooting
993423    47084                        ElasticSearch
993424    47084                              Laravel
993425    47084                                  PHP
993426    47084                                MySQL
993427    47084                               jQuery
993428    47084                              Eclipse
993429    47084                                   C#
993430    47084                                  XML
993431    47084                                  Git
993432    47084                        Visual Studio
993433    47084                                  C++
993434    47084                              ASP.NET
993435    47084                               Oracle
993436    47084                           SharePoint
993437    47084                          Objective-C
993438    47084                           Subversion
993439    47084                          ASP.NET MVC
993440    47084                     Protocol Buffers
993441    47084                                  MVC
993442    47084                       Zend Framework
993443    47084       OOP and Procedural Programming
993444    47084                      Semantic Search
993445    47084  Transmission Control Protocol (TCP)
993446    47084                      Analytics Skill
993447    47084                Distributed Databases

### Work Experiences

In [111]:
work_experiences.loc[work_experiences['location'] == 'Visual Studio Asp.Net Developer', 'location'] = np.nan

In [112]:
work_experiences.sort_values('user_id')[:10]

,user_id,company_id,location,start_year_month,start_date,start_year,start_month
147720,0,0,Serbest Çalışmalar,200509,2005-09-01,2005,9
174454,0,0,NaN,200509,2005-09-01,2005,9
180157,2,10,"Mersin, Turkey",201806,2018-06-01,2018,6
19762,2,7,"Elazig, Turkey",201706,2017-06-01,2017,6
760,2,9,"Elazig, Turkey",201612,2016-12-01,2016,12
30839,5,15,İstanbul,201706,2017-06-01,2017,6
161935,7,21,"Istanbul, Turkey",201607,2016-07-01,2016,7
54420,7,21,Macedonia,201708,2017-08-01,2017,8
17649,7,20,Elazığ,201812,2018-12-01,2018,12
171458,7,21,"Istanbul, Turkey",201707,2017-07-01,2017,7

In [105]:
work_experiences['start_date'] = pd.to_datetime(work_experiences['start_year_month'].apply(lambda x: '-'.join([str(x)[:4], str(x)[4:]])))

work_experiences['start_year'] = work_experiences['start_date'].dt.year
work_experiences['start_month'] = work_experiences['start_date'].dt.month

work_experiences.head()

,user_id,company_id,location,start_year_month,start_date,start_year,start_month
0,53442,2651,"Istanbul, Turkey",201509,2015-09-01,2015,9
1,34558,815,"Istanbul, Turkey",201210,2012-10-01,2012,10
2,63761,26354,NaN,200010,2000-10-01,2000,10
3,10738,89,NaN,201610,2016-10-01,2016,10
4,8711,3113,"Istanbul, Turkey",201801,2018-01-01,2018,1

In [114]:
work_experiences['location'].value_counts()[:20]

Istanbul, Turkey     44774
Ankara, Turkey       14200
İstanbul, Türkiye    13174
Ankara, Türkiye       4556
Izmir, Turkey         4284
Kocaeli, Turkey       2418
İstanbul              1896
İzmir, Türkiye        1640
Turkey                1562
Ankara                1242
Kocaeli, Türkiye      1124
Bursa, Turkey         1012
Eskisehir, Turkey      915
Türkiye                868
Sakarya, Turkey        805
Manisa, Turkey         678
Antalya, Turkey        663
İzmir                  630
Kayseri, Turkey        479
Adana, Turkey          468
Name: location, dtype: int64

### Languages

In [118]:
languages.head()

   user_id   language          proficiency
0        8  İngilizce    full_professional
1        8     Türkçe  native_or_bilingual
2        8  Fransızca           elementary
3       10  ingilizce                  NaN
4       11    Turkish  native_or_bilingual

In [120]:
languages['language'].value_counts()

İngilizce                          20702
English                            14863
Türkçe                             14007
Turkish                             8261
Almanca                             3732
                                   ...
İngilizce (Upper-Intermediate)         1
Wollof                                 1
Adıge dili                             1
Circassian                             1
Swiss German (Schweizerdeutsch)        1
Name: language, Length: 513, dtype: int64