In [1]:
import warnings
import numpy as np
import pandas as pd
from tqdm import tqdm
from utils import load_tr_cities, translation
warnings.filterwarnings('ignore')
path = '../../../datasets/garanti-bbva-data-camp/education.csv'

In [2]:
df = pd.read_csv(path)
print(df.shape)
df.head()

(142575, 6)

,user_id,school_name,degree,fields_of_study,start_year_month,end_year_month
0,0,Anadolu Üniversitesi,NaN,NaN,NaN,NaN
1,0,Adıyaman Üniversitesi,NaN,NaN,NaN,NaN
2,0,Fırat Üniversitesi,NaN,NaN,NaN,NaN
3,1,Fırat Üniversitesi,Yüksek Lisans,Yazılım Mühendisliği,NaN,NaN
4,1,Fırat Üniversitesi,Lisans,Yazılım Mühendisliği,NaN,NaN

In [3]:
df[:20]

,user_id,school_name,degree,fields_of_study,start_year_month,end_year_month
0,0,Anadolu Üniversitesi,NaN,NaN,NaN,NaN
1,0,Adıyaman Üniversitesi,NaN,NaN,NaN,NaN
2,0,Fırat Üniversitesi,NaN,NaN,NaN,NaN
3,1,Fırat Üniversitesi,Yüksek Lisans,Yazılım Mühendisliği,NaN,NaN
4,1,Fırat Üniversitesi,Lisans,Yazılım Mühendisliği,NaN,NaN
5,2,Fırat Üniversitesi,4.sinif,Bilgisayar Mühendisliği,NaN,NaN
6,2,Hafsa Sultan Mesleki ve Teknik Anadolu Lisesi,lise,Çocuk Gelişimi ve Eğitimi Alanı,NaN,NaN
7,3,Fırat Üniversitesi,Lisans Derecesi,Bilgisayar Yazılımı Mühendisliği,NaN,NaN
8,4,Fırat Üniversitesi,Lisans Derecesi,Yazılım Mühendisliği,201709.0,NaN
9,5,Firat University,Master's degree,Software Engineering,202109.0,202208.0
10,5,The State University of Applied Sciences in El...,Bachelor's degree,Software Engineering,NaN,NaN
11,5,Firat University,Bachelor's degree,Software Engineering,NaN,NaN
12,5,İzmit Anadolu İmam Hatip Lisesi,High School Diploma,NaN,NaN,NaN
13,6,Fırat Üniversitesi,LİSANS,yazılım mühendisliği,NaN,NaN
14,6,final okulları,NaN,NaN,NaN,NaN
15,7,Firat University,Mühendislik Fakültesi bilgisayar mühendisliği,Bilgisayar Mühendisliği,NaN,NaN
16,8,Fırat Üniversitesi,Lisans Derecesi,Adli Bilişim Mühendisliği,NaN,NaN
17,9,Fırat Üniversitesi,Lisans Derecesi,Yazılım Mühendisliği,NaN,NaN
18,10,Fırat Üniversitesi,Lisans Derecesi,Bilgisayar Mühendisliği,NaN,NaN
19,10,Anadolu Üniversitesi,ön lisans,adalet,NaN,NaN

In [5]:
df['degree'].value_counts()[:20]

Lisans Derecesi                 19144
Bachelor's degree               13993
Yüksek Lisans (Master)           5246
Master's degree                  4859
Lisans                           2974
Master of Science - MS           2344
Bachelor of Science - BS         2051
High School Diploma              1720
Lise                             1602
High School                      1503
Bachelor of Engineering - BE     1476
Önlisans                         1389
Associate's degree               1381
Bachelor's Degree                1365
Bachelor of Science (BS)         1216
Ön Lisans                        1070
Bachelor’s Degree                 959
Bachelor of Science (BSc)         896
Doctor of Philosophy - PhD        855
BS                                797
Name: degree, dtype: int64