In [1]:
import warnings
import pandas as pd
from tqdm import tqdm
warnings.filterwarnings('ignore')

In [452]:
def load_skills(path: str, size: int = 20, seperator: str = 'skill') -> pd.DataFrame:

    df_ = pd.read_csv(path)
    print(f'Frequency of top 20 skills before preprocess: {df_["skill"].value_counts()[:20].values.sum()}')
    df_['skill'] = df_['skill'].apply(lambda x: x.strip())

    df_.loc[df_['skill'] == 'Web Geliştirme', 'skill'] = 'Web Development'
    df_.loc[df_['skill'] == 'web development', 'skill'] = 'Web Development'
    df_.loc[df_['skill'] == 'Git Hub', 'skill'] = 'GitHub'
    df_.loc[df_['skill'] == 'Github Actions', 'skill'] = 'GitHub'
    df_.loc[df_['skill'] == 'Github', 'skill'] = 'GitHub'
    df_.loc[df_['skill'] == 'Githup', 'skill'] = 'GitHub'
    df_.loc[df_['skill'] == 'Web Uygulamaları', 'skill'] = 'Web Applications'
    df_.loc[df_['skill'] == 'Proje Yönetimi', 'skill'] = 'Project Management'
    df_.loc[df_['skill'] == 'Programlama', 'skill'] = 'Programming'
    df_.loc[df_['skill'] == 'Object-Oriented Programming (OOP)', 'skill'] = 'OOP'
    df_.loc[df_['skill'] == 'Object Oriented Programming (OOP)', 'skill'] = 'OOP'
    df_.loc[df_['skill'] == 'OOP (Nesne Yönelimli Programlama)', 'skill'] = 'OOP'
    df_.loc[df_['skill'] == 'OOP(Object Oriented Programming)', 'skill'] = 'OOP'
    df_.loc[df_['skill'] == 'OOP (Object Oriented Programming)', 'skill'] = 'OOP'
    df_.loc[df_['skill'] == 'Objektorientierte Programmierung (OOP)', 'skill'] = 'OOP'
    df_.loc[df_['skill'] == 'Object-Oriented Programming(OOP)', 'skill'] = 'OOP'
    df_.loc[df_['skill'] == 'OOP(Object Orianted Programming)', 'skill'] = 'OOP'
    df_.loc[df_['skill'] == 'OOP (Nesne Yönelimli Programlama', 'skill'] = 'OOP'
    df_.loc[df_['skill'] == 'OOP programming and implementing design patterns', 'skill'] = 'OOP'
    df_.loc[df_['skill'] == 'OOP(Object-Oriented Programming)', 'skill'] = 'OOP'
    df_.loc[df_['skill'] == 'Nesne Yönelimli Programlama(OOP)', 'skill'] = 'OOP'
    df_.loc[df_['skill'] == 'Object Oriented Programming(OOP)', 'skill'] = 'OOP'
    df_.loc[df_['skill'] == 'Programación orientada a objetos (OOP)', 'skill'] = 'OOP'
    df_.loc[df_['skill'] == 'OOP ( Object Oriented Programming )', 'skill'] = 'OOP'
    df_.loc[df_['skill'] == 'OOP (Object-Oriented Programming)', 'skill'] = 'OOP'
    df_.loc[df_['skill'] == 'OOP ( Object - Oriented Programming )', 'skill'] = 'OOP'
    df_.loc[df_['skill'] == 'OOP(Nesne Yönelimli Programlama)', 'skill'] = 'OOP'
    df_.loc[df_['skill'] == 'Object-oriented Programming (OOP)', 'skill'] = 'OOP'
    df_.loc[df_['skill'] == 'C, C++ (OOP), Linux', 'skill'] = 'OOP'
    df_.loc[df_['skill'] == 'OOP Design', 'skill'] = 'OOP'
    df_.loc[df_['skill'] == 'Advanced OOP', 'skill'] = 'OOP'
    df_.loc[df_['skill'] == 'Python (Programming Language)', 'skill'] = 'Python'
    df_.loc[df_['skill'] == 'Python (Programmiersprache)', 'skill'] = 'Python'
    df_.loc[df_['skill'] == 'Python Programming Language', 'skill'] = 'Python'
    df_.loc[df_['skill'] == 'Ptyhon', 'skill'] = 'Python'
    df_.loc[df_['skill'] == 'Phyton', 'skill'] = 'Python'
    df_.loc[df_['skill'] == 'C (Programming Language)', 'skill'] = 'C'
    df_.loc[df_['skill'] == 'Swift (Programming Language)', 'skill'] = 'Swift'
    df_.loc[df_['skill'] == 'Go (Programming Language)', 'skill'] = 'Go'
    df_.loc[df_['skill'] == 'R (Programming Language)', 'skill'] = 'R'
    df_.loc[df_['skill'] == 'data science', 'skill'] = 'Data Science'
    df_.loc[df_['skill'] == 'Data science', 'skill'] = 'Data Science'
    df_.loc[df_['skill'] == 'Microsoft Teknolojileri', 'skill'] = 'Microsoft Technologies'
    df_.loc[df_['skill'] == 'Microsoft Sunucular', 'skill'] = 'Microsoft Servers'
    df_.loc[df_['skill'] == 'microsoft', 'skill'] = 'Microsoft'
    df_.loc[df_['skill'] == 'MsSQL database', 'skill'] = 'Microsoft SQL Server'
    df_.loc[df_['skill'] == 'MsSQL Server', 'skill'] = 'Microsoft SQL Server'
    df_.loc[df_['skill'] == 'MsSQL', 'skill'] = 'Microsoft SQL Server'
    df_.loc[df_['skill'] == 'Amazon Web Services (AWS)', 'skill'] = 'AWS'
    df_.loc[df_['skill'] == 'Amazon Web Hizmetleri (AWS)', 'skill'] = 'AWS'
    df_.loc[df_['skill'] == 'Amazon Web Services', 'skill'] = 'AWS'
    df_.loc[df_['skill'] == 'machine learning', 'skill'] = 'Machine Learning'
    df_.loc[df_['skill'] == 'Machine learning', 'skill'] = 'Machine Learning'
    df_.loc[df_['skill'] == 'Makine Öğrenmesi/Machine Learning', 'skill'] = 'Machine Learning'
    df_.loc[df_['skill'] == 'Artificial Intelligence (AI)', 'skill'] = 'Artificial Intelligence'
    df_.loc[df_['skill'] == 'Artificial intelligence', 'skill'] = 'Artificial Intelligence'
    df_.loc[df_['skill'] == 'Yazılım Proje Yönetimi', 'skill'] = 'Software Project Management'
    df_.loc[df_['skill'] == 'Proje Planlama', 'skill'] = 'Project Planning'
    df_.loc[df_['skill'] == 'İngilizce', 'skill'] = 'English'
    df_.loc[df_['skill'] == 'english', 'skill'] = 'English'
    df_.loc[df_['skill'] == 'git', 'skill'] = 'Git'
    df_.loc[df_['skill'] == 'github', 'skill'] = 'GitHub'
    df_.loc[df_['skill'] == 'Yazılım Geliştirme', 'skill'] = 'Software Development'
    df_.loc[df_['skill'] == 'Yazılım Mühendisliği', 'skill'] = 'Software Engineering'
    df_.loc[df_['skill'] == 'Yazılım Mühendisleri', 'skill'] = 'Software Engineering'
    df_.loc[df_['skill'] == 'Yazılım Tasarımı', 'skill'] = 'Software Design'
    df_.loc[df_['skill'] == 'Yazılım', 'skill'] = 'Software'
    df_.loc[df_['skill'] == 'yazılım', 'skill'] = 'Software'
    df_.loc[df_['skill'] == 'Açık Kaynak Yazılımı', 'skill'] = 'Open Source Software'
    df_.loc[df_['skill'] == 'Yazılım Geliştirme Metodolojileri', 'skill'] = 'Software Development Methodologies'
    df_.loc[df_['skill'] == 'Yazılım Kalitesi', 'skill'] = 'Software Quality'
    df_.loc[df_['skill'] == 'Yazılım Konfigürasyon Yönetimi', 'skill'] = 'Software Configuration Management'
    df_.loc[df_['skill'] == 'Yazılım Çözümleri', 'skill'] = 'Software Solutions'
    df_.loc[df_['skill'] == 'Yazılım Dokümantasyonu', 'skill'] = 'Software Documentation'
    df_.loc[df_['skill'] == 'Yazılım Kalite Güvencesi', 'skill'] = 'Software Quality Assurance'
    df_.loc[df_['skill'] == 'matlab', 'skill'] = 'Matlab'
    df_.loc[df_['skill'] == 'MATLAB', 'skill'] = 'Matlab'
    df_.loc[df_['skill'] == 'MATLAB®', 'skill'] = 'Matlab'
    df_.loc[df_['skill'] == 'Php', 'skill'] = 'PHP'   
    df_.loc[df_['skill'] == 'java', 'skill'] = 'Java' 
    df_.loc[df_['skill'] == 'java dili', 'skill'] = 'Java' 
    df_.loc[df_['skill'] == 'javascript', 'skill'] = 'JavaScript'
    df_.loc[df_['skill'] == 'java script', 'skill'] = 'JavaScript'
    df_.loc[df_['skill'] == 'html', 'skill'] = 'HTML'
    df_.loc[df_['skill'] == 'My Sql', 'skill'] = 'MySQL'
    df_.loc[df_['skill'] == 'English B2', 'skill'] = 'English'
    df_.loc[df_['skill'] == 'English C1', 'skill'] = 'English'
    df_.loc[df_['skill'] == 'jquery', 'skill'] = 'jQuery' 
    df_.loc[df_['skill'] == 'Mssql', 'skill'] = 'Microsoft SQL Server'
    df_.loc[df_['skill'] == 'mssql', 'skill'] = 'Microsoft SQL Server'
    df_.loc[df_['skill'] == 'proje yönetimi', 'skill'] = 'Project Management'
    df_.loc[df_['skill'] == 'project management', 'skill'] = 'Project Management'
    df_.loc[df_['skill'] == 'Proje Yönetim', 'skill'] = 'Project Management'
    df_.loc[df_['skill'] == 'Microsoft sql', 'skill'] = 'Microsoft SQL Server'
    df_.loc[df_['skill'] == 'docker', 'skill'] = 'Docker'
    df_.loc[df_['skill'] == 'docker & kubernetes', 'skill'] = 'Docker'
    df_.loc[df_['skill'] == 'docker-compose', 'skill'] = 'Docker'
    df_.loc[df_['skill'] == 'docker in docker', 'skill'] = 'Docker'
    df_.loc[df_['skill'] == 'docker swarm', 'skill'] = 'Docker'
    df_.loc[df_['skill'] == 'Docker Containerization (Python-Java APP docker containerization, Private-Cloud Docker Registry)', 'skill'] = 'Docker'
    df_.loc[df_['skill'] == 'Docker Products', 'skill'] = 'Docker'
    df_.loc[df_['skill'] == 'Containerization (Docker)', 'skill'] = 'Docker'
    df_.loc[df_['skill'] == 'Docker (Compose - Stac - Swarm)', 'skill'] = 'Docker'
    df_.loc[df_['skill'] == 'Docker Container', 'skill'] = 'Docker'
    df_.loc[df_['skill'] == 'Dockerize', 'skill'] = 'Docker'
    df_.loc[df_['skill'] == 'Docker Swarm', 'skill'] = 'Docker'
    df_.loc[df_['skill'] == 'Docker Compose', 'skill'] = 'Docker'
    df_.loc[df_['skill'] == 'Docker-compose', 'skill'] = 'Docker'
    df_.loc[df_['skill'] == 'Docker & Docker Compose', 'skill'] = 'Docker'
    df_.loc[df_['skill'] == 'Docker Containerization', 'skill'] = 'Docker'
    df_.loc[df_['skill'] == 'linux', 'skill'] = 'Linux'
    df_.loc[df_['skill'] == 'asp.net', 'skill'] = 'ASP.NET'
    df_.loc[df_['skill'] == 'asp.net core', 'skill'] = 'ASP.NET'
    df_.loc[df_['skill'] == 'asp. net core', 'skill'] = 'ASP.NET'
    df_.loc[df_['skill'] == 'asp.net webapi', 'skill'] = 'ASP.NET'
    df_.loc[df_['skill'] == 'asp core', 'skill'] = 'ASP.NET'
    df_.loc[df_['skill'] == 'sql', 'skill'] = 'SQL'
    df_.loc[df_['skill'] == 'Mysql', 'skill'] = 'MySQL'
    df_.loc[df_['skill'] == 'mysql', 'skill'] = 'MySQL'
    df_.loc[df_['skill'] == 'ms sql', 'skill'] = 'MSSQL'
    df_.loc[df_['skill'] == 'Agile Metotları', 'skill'] = 'Agile Methodologies'
    df_.loc[df_['skill'] == 'Agile Methodolgy', 'skill'] = 'Agile Methodologies'
    df_.loc[df_['skill'] == 'agile methodologies', 'skill'] = 'Agile Methodologies'
    df_.loc[df_['skill'] == 'agile methodology', 'skill'] = 'Agile Methodologies'
    df_.loc[df_['skill'] == 'agile methodoligies', 'skill'] = 'Agile Methodologies'
    df_.loc[df_['skill'] == 'AGILE METHODOLOGIES', 'skill'] = 'Agile Methodologies'

    
    df_.loc[df_['skill'] == 'Agile Proje Yönetimi', 'skill'] = 'Agile Project Management'
    df_.loc[df_['skill'] == 'MYSQL', 'skill'] = 'MySQL'
    df_.loc[df_['skill'] == 'SQL MYSQL', 'skill'] = 'MySQL'
    df_.loc[df_['skill'] == 'mysqli', 'skill'] = 'MySQL'

    df_.loc[df_['skill'] == 'JQUERY', 'skill'] = 'jQuery'

    df_.loc[df_['skill'] == 'Microsoft SQL', 'skill'] = 'Microsoft SQL Server'
    df_.loc[df_['skill'] == 'Microsoft Sql Server', 'skill'] = 'Microsoft SQL Server'
    df_.loc[df_['skill'] == 'Microsoft Sql', 'skill'] = 'Microsoft SQL Server'
    df_.loc[df_['skill'] == 'Microsoft SQL Server 2016 and T-SQL', 'skill'] = 'Microsoft SQL Server'
    df_.loc[df_['skill'] == 'microsoft sql server', 'skill'] = 'Microsoft SQL Server'

    
    df_.loc[df_['skill'] == 'React.js', 'skill'] = 'React.js'
    df_.loc[df_['skill'] == 'ReactJS', 'skill'] = 'React.js'
    df_.loc[df_['skill'] == 'React JS', 'skill'] = 'React.js'
    df_.loc[df_['skill'] == 'Reactjs', 'skill'] = 'React.js'
    df_.loc[df_['skill'] == 'ReactJs', 'skill'] = 'React.js'
    df_.loc[df_['skill'] == 'React.Js', 'skill'] = 'React.js'
    df_.loc[df_['skill'] == 'React js', 'skill'] = 'React.js'
    df_.loc[df_['skill'] == 'React Js', 'skill'] = 'React.js'

    df_.loc[df_['skill'] == 'c', 'skill'] = 'C'
    df_.loc[df_['skill'] == 'c#', 'skill'] = 'C#'
    df_.loc[df_['skill'] == 'c++', 'skill'] = 'C++'

    df_.loc[df_['skill'] == 'Html', 'skill'] = 'HTML'
    df_.loc[df_['skill'] == 'scrum', 'skill'] = 'Scrum'
    df_.loc[df_['skill'] == 'programlama', 'skill'] = 'Programming'
    df_.loc[df_['skill'] == 'excel', 'skill'] = 'Microsoft Excel'
    df_.loc[df_['skill'] == 'Mühendislik', 'skill'] = 'Engineering'
    df_.loc[df_['skill'] == 'mühendislik', 'skill'] = 'Engineering'


    df_.loc[df_['skill'] == 'yazılım mühendisliği', 'skill'] = 'Software Engineering'
    df_.loc[df_['skill'] == 'bilgisayar mühendisliği', 'skill'] = 'Computer Engineering'
    df_.loc[df_['skill'] == 'Yazılım mühendisliği', 'skill'] = 'Software Engineering'
    df_.loc[df_['skill'] == 'Software Engineering Practices', 'skill'] = 'Software Engineering'
    df_.loc[df_['skill'] == 'Software Engineers', 'skill'] = 'Software Engineering'
    df_.loc[df_['skill'] == 'Software Engineer', 'skill'] = 'Software Engineering'
    df_.loc[df_['skill'] == 'Software Enginering', 'skill'] = 'Software Engineering'
    df_.loc[df_['skill'] == 'Software Engine', 'skill'] = 'Software Engineering'
    df_.loc[df_['skill'] == 'Object Oriented Software Engineering', 'skill'] = 'Software Engineering'
    df_.loc[df_['skill'] == 'Embeded Software Engineering', 'skill'] = 'Software Engineering'
    df_.loc[df_['skill'] == 'software engineering', 'skill'] = 'Software Engineering'
    df_.loc[df_['skill'] == 'software engineer', 'skill'] = 'Software Engineering'
    df_.loc[df_['skill'] == 'Microcontroller 68hc811 hardware and software engineer', 'skill'] = 'Software Engineering'
    df_.loc[df_['skill'] == 'x86 based microcontroller hardware and software engineer', 'skill'] = 'Software Engineering'
    df_.loc[df_['skill'] == 'model based software engineering', 'skill'] = 'Software Engineering'
    df_.loc[df_['skill'] == 'software development', 'skill'] = 'Software Development'
    df_.loc[df_['skill'] == 'software developer', 'skill'] = 'Software Development'
    df_.loc[df_['skill'] == 'Javascript', 'skill'] = 'JavaScript'
    df_.loc[df_['skill'] == 'Javscript', 'skill'] = 'JavaScript'
    df_.loc[df_['skill'] == 'oop', 'skill'] = 'OOP'
    df_.loc[df_['skill'] == 'ms office', 'skill'] = 'Microsoft Office'
    df_.loc[df_['skill'] == 'css', 'skill'] = 'CSS'
    df_.loc[df_['skill'] == 'Css', 'skill'] = 'CSS'
    df_.loc[df_['skill'] == 'advance in english', 'skill'] = 'English'
    df_.loc[df_['skill'] == 'ASP.Net', 'skill'] = 'ASP.NET'
    df_.loc[df_['skill'] == 'ORACLE', 'skill'] = 'Oracle'
    df_.loc[df_['skill'] == 'php', 'skill'] = 'PHP'
    df_.loc[df_['skill'] == 'jira', 'skill'] = 'JIRA'
    df_.loc[df_['skill'] == 'Jira', 'skill'] = 'JIRA'
    df_.loc[df_['skill'] == 'Atlassian Jira', 'skill'] = 'JIRA'
    df_.loc[df_['skill'] == '.net', 'skill'] = '.NET'
    df_.loc[df_['skill'] == '.Net', 'skill'] = '.NET'
    df_.loc[df_['skill'] == 'Asp.Net', 'skill'] = 'ASP.NET'
    df_.loc[df_['skill'] == 'object oriented programming', 'skill'] = 'OOP'
    df_.loc[df_['skill'] == 'json', 'skill'] = 'JSON'
    df_.loc[df_['skill'] == 'html5', 'skill'] = 'HTML5'
    df_.loc[df_['skill'] == 'html 5', 'skill'] = 'HTML5'
    df_.loc[df_['skill'] == 'android', 'skill'] = 'Android'
    df_.loc[df_['skill'] == 'C programming', 'skill'] = 'C'
    df_.loc[df_['skill'] == 'C programlama', 'skill'] = 'C'
    df_.loc[df_['skill'] == 'Object oriented programming', 'skill'] = 'OOP'
    df_.loc[df_['skill'] == 'Java programming language', 'skill'] = 'Java'
    df_.loc[df_['skill'] == 'SAS programming', 'skill'] = 'SAS'
    df_.loc[df_['skill'] == 'computer programming', 'skill'] = 'Computer Programming'
    df_.loc[df_['skill'] == 'programming', 'skill'] = 'Programming'
    df_.loc[df_['skill'] == 'Nesne yönelimli programlama', 'skill'] = 'OOP'
    df_.loc[df_['skill'] == 'Swift programming language', 'skill'] = 'Swift'
    df_.loc[df_['skill'] == 'Software programming Fundamentals', 'skill'] = 'Software Programming'
    df_.loc[df_['skill'] == 'Introduction to JAVA programming', 'skill'] = 'Java'
    df_.loc[df_['skill'] == 'bilgisayar programlama', 'skill'] = 'Computer Programming' 
    df_.loc[df_['skill'] == 'R programming', 'skill'] = 'R'
    df_.loc[df_['skill'] == 'R programlama', 'skill'] = 'R'
    df_.loc[df_['skill'] == 'c programlama', 'skill'] = 'C'
    df_.loc[df_['skill'] == 'C++ ile programlama', 'skill'] = 'C++'
    df_.loc[df_['skill'] == 'C# ile programlama', 'skill'] = 'C#'
    df_.loc[df_['skill'] == 'Bilgisayar programlama', 'skill'] = 'Computer Programming'
    df_.loc[df_['skill'] == 'C programlama dili', 'skill'] = 'C'
    df_.loc[df_['skill'] == 'nesneye yönelik programlama', 'skill'] = 'OOP'
    df_.loc[df_['skill'] == 'C# programlama', 'skill'] = 'C#'
    df_.loc[df_['skill'] == 'Nesne tabanlı programlama', 'skill'] = 'OOP'
    df_.loc[df_['skill'] == 'Nesneye yönelik programlama', 'skill'] = 'OOP'
    df_.loc[df_['skill'] == 'SAS Programlama', 'skill'] = 'SAS'
    df_.loc[df_['skill'] == 'C Programlama', 'skill'] = 'C'
    df_.loc[df_['skill'] == 'R Programlama', 'skill'] = 'R'
    df_.loc[df_['skill'] == 'microsoft excel', 'skill'] = 'Microsoft Excel'
    df_.loc[df_['skill'] == 'excel eğitmeni', 'skill'] = 'Microsoft Excel'
    df_.loc[df_['skill'] == 'excel makro', 'skill'] = 'Microsoft Excel'
    df_.loc[df_['skill'] == 'macro excel', 'skill'] = 'Microsoft Excel'
    df_.loc[df_['skill'] == 'ileri excel', 'skill'] = 'Microsoft Excel'
    df_.loc[df_['skill'] == 'Web geliştirme', 'skill'] = 'Web Development'
    df_.loc[df_['skill'] == 'SCRUM', 'skill'] = 'Scrum'
    df_.loc[df_['skill'] == 'scrump', 'skill'] = 'Scrum'
    df_.loc[df_['skill'] == 'reactjs', 'skill'] = 'React.js'
    df_.loc[df_['skill'] == 'DOCKER', 'skill'] = 'Docker'
    df_.loc[df_['skill'] == 'DOCKERS', 'skill'] = 'Docker'
    df_.loc[df_['skill'] == 'Postgresql', 'skill'] = 'PostgreSQL'
    df_.loc[df_['skill'] == 'Postgre SQL', 'skill'] = 'PostgreSQL'
    df_.loc[df_['skill'] == 'Postgres', 'skill'] = 'PostgreSQL'
    df_.loc[df_['skill'] == 'PostgreSql', 'skill'] = 'PostgreSQL'
    df_.loc[df_['skill'] == 'Postgre', 'skill'] = 'PostgreSQL'
    df_.loc[df_['skill'] == 'PostgreSQL 9.6', 'skill'] = 'PostgreSQL'
    df_.loc[df_['skill'] == 'PostgreSQL = 5/10', 'skill'] = 'PostgreSQL'
    df_.loc[df_['skill'] == 'PostgreSQL Server', 'skill'] = 'PostgreSQL'
    df_.loc[df_['skill'] == 'Postgre sql', 'skill'] = 'PostgreSQL'
    df_.loc[df_['skill'] == 'Postgresql Administration', 'skill'] = 'PostgreSQL'
    
    print(f'Frequency of top 20 skills after preprocess: {df_["skill"].value_counts()[:20].values.sum()}')

    df_ = df_.drop_duplicates()

    most_freq_skills = df_['skill'].value_counts().keys()[:size].tolist()
    grouped = df_.groupby(by='user_id', as_index=False).agg({'skill': 'unique'})
    for skill in tqdm(most_freq_skills):
        grouped[f'{seperator}_{skill}'] = grouped['skill'].apply(lambda x: 1 if skill in x else 0)
#
    #grouped = grouped.merge(df_.groupby(by='user_id', as_index=False).agg(
    #    skill_nunique=('skill', 'nunique')), on=['user_id'], how='left')
    grouped = grouped.drop(columns=['skill'], axis=1)
    return grouped

In [453]:
#df = load_skills('../../../datasets/garanti-bbva-data-camp/skills.csv')

#df

Frequency of top 20 skills before preprocess: 294433
Frequency of top 20 skills after preprocess: 320842

         user_id          skill
0              1    Engineering
1              1         Eğitim
2              2        Android
3              2           Java
4              2  3D Studio Max
...          ...            ...
1398438    66273          CI/CD
1398439    66273      Terraform
1398440    66273        MongoDB
1398441    66273             Go
1398442    66273         Packer

[1398443 rows x 2 columns]

In [457]:
#df['skill'].value_counts()[20:40]

HTML5                  9407
.NET                   9104
ASP.NET MVC            8809
PHP                    8730
Web Development        8577
Matlab                 8217
Visual Studio          7710
XML                    6915
Programming            6767
React.js               6732
Microsoft Excel        6457
Agile Methodologies    6114
Scrum                  5996
Engineering            5865
JIRA                   5822
JSON                   5804
Android                5719
PL/SQL                 5602
Web Services           5439
Spring Framework       5171
Name: skill, dtype: int64

In [455]:
#df.loc[df['skill'] == 'json', 'skill']

Series([], Name: skill, dtype: object)

In [456]:
#df.loc[df['skill'].str.contains('Postgre', regex=False), 'skill'].value_counts()[:20].keys().tolist()

['PostgreSQL',
 'PL/SQL, PostgreSQL, MySQL',
 'Postgresql/PostGIS',
 'MySQL, MsSQL, PostgreSQL, SQLite, PDO, Access, MongoDB',
 'Databases(MSSQL,MySQL,MariaDb,PostgreSql,MongoDb,H2,SQLite)',
 'Database (Postgresql, Cassandra, Redis and Sentinel, ElasticSearch, Oracle, Apache Kafka, SQLite)',
 'PL-SQL, T-SQL, PostgreSQL',
 'Database (Oracle, MySQL, PostgreSQL)']