In [2]:
import warnings
import numpy as np
import pandas as pd
from tqdm import tqdm
from cities import load_tr_cities, translation
warnings.filterwarnings('ignore')

In [3]:
def load_work_experiences(path: str) -> pd.DataFrame:

    df_ = pd.read_csv(path)
    df_['start_date'] = pd.to_datetime(df_['start_year_month'].apply(
        lambda x: '-'.join([str(x)[:4], str(x)[4:]])))
    df_ = df_.drop(columns = ['start_year_month'], axis = 1)

    df_ = df_.sort_values(by=['user_id', 'start_date'])
    df_.loc[df_['location'] ==
            'Visual Studio Asp.Net Developer', 'location'] = np.nan
    df_.loc[df_['location'] == 'yazılım mühendisi', 'location'] = np.nan
    df_.loc[df_['location'] == 'Supervisor chief engineer', 'location'] = np.nan
    df_.loc[df_['location'] ==
            'Computer Engineer (System Administrator-Specialist)', 'location'] = np.nan
    df_.loc[df_['location'] == 'Civil Engineer', 'location'] = np.nan
    df_.loc[df_['location'] == 'Öğrenci stajeri', 'location'] = np.nan
    df_['location'] = df_['location'].apply(
        lambda x: str(x).replace('Türkiye', 'Turkey'))
    df_['location'] = df_['location'].apply(lambda x: x.upper().strip())
    df_['location'] = df_['location'].apply(lambda x: translation(str(x)))
    tr_cities = load_tr_cities()
    for city in tr_cities:
        df_['location'] = df_['location'].apply(
            lambda x: city if city in x else x)

    df_ = df_.drop_duplicates(
        subset=['user_id', 'start_date']).reset_index(drop=True)
    return df_

In [4]:
df = load_work_experiences('../../../datasets/garanti-bbva-data-camp/work_experiences.csv')

df.head(10)

   user_id  company_id            location start_date
0        0           0  SERBEST CALISMALAR 2005-09-01
1        2           9              ELAZIG 2016-12-01
2        2           7              ELAZIG 2017-06-01
3        2          10              MERSIN 2018-06-01
4        5          15            ISTANBUL 2017-06-01
5        7          21            ISTANBUL 2016-07-01
6        7          21            ISTANBUL 2017-07-01
7        7          21           MACEDONIA 2017-08-01
8        7          20              ELAZIG 2018-12-01
9       10          27              ELAZIG 2013-08-01