In [328]:
import warnings
import numpy as np
import pandas as pd
from tqdm import tqdm
from utils import load_tr_cities, translation
warnings.filterwarnings('ignore')

In [336]:
def load_work_experiences(path: str, size: int = 10, seperator: str = 'exp') -> pd.DataFrame:

    df_ = pd.read_csv(path)
    df_['start_date'] = pd.to_datetime(df_['start_year_month'].apply(lambda x: '-'.join([str(x)[:4], str(x)[4:]])))
    df_ = df_.drop(columns = ['start_year_month'], axis = 1)

    df_.loc[df_['location'] =='Intern', 'location'] = np.nan
    df_.loc[df_['location'] =='Stajyer', 'location'] = np.nan
    df_.loc[df_['location'] =='Sales Consultant', 'location'] = np.nan
    df_.loc[df_['location'] =='asistan', 'location'] = np.nan
    df_.loc[df_['location'] =='Yazılım stajyeri', 'location'] = np.nan
    df_.loc[df_['location'] =='stajer mühendis', 'location'] = np.nan
    df_.loc[df_['location'] =='stajyer mühendis', 'location'] = np.nan
    df_.loc[df_['location'] =='Yazılım stajı', 'location'] = np.nan
    df_.loc[df_['location'] =='Donanım stajı', 'location'] = np.nan
    df_.loc[df_['location'] =='staj', 'location'] = np.nan    
    df_.loc[df_['location'] =='stajer', 'location'] = np.nan
    df_.loc[df_['location'] =='stajyer', 'location'] = np.nan
    df_.loc[df_['location'] =='User support application specialist', 'location'] = np.nan
    df_.loc[df_['location'] =='front-end developer', 'location'] = np.nan
    df_.loc[df_['location'] =='Kasa Personeli', 'location'] = np.nan
    df_.loc[df_['location'] =='web developer', 'location'] = np.nan
    df_.loc[df_['location'] =='Software development', 'location'] = np.nan
    df_.loc[df_['location'] =='Software developer', 'location'] = np.nan
    df_.loc[df_['location'] =='software developer', 'location'] = np.nan
    df_.loc[df_['location'] =='Visual Studio Asp.Net Developer', 'location'] = np.nan
    df_.loc[df_['location'] == 'yazılım mühendisi', 'location'] = np.nan
    df_.loc[df_['location'] == 'Supervisor chief engineer', 'location'] = np.nan
    df_.loc[df_['location'] == 'Computer Engineer (System Administrator-Specialist)', 'location'] = np.nan
    df_.loc[df_['location'] == 'Civil Engineer', 'location'] = np.nan
    df_.loc[df_['location'] == 'Öğrenci stajeri', 'location'] = np.nan
    df_.loc[df_['location'] == 'İzmir Yüksek Teknoloji Enstitüsü Teknopark', 'location'] = 'Izmir, Turkey'
    df_.loc[df_['location'] == 'İstanbul/Avrupa', 'location'] = 'Istanbul, Turkey'
    df_.loc[df_['location'] == 'Sakarya Arifiye', 'location'] = 'Sakarya, Turkey'
    df_.loc[df_['location'] == 'Kepez, Çanakkale, Türkiye', 'location'] = 'Canakkale, Turkey'
    df_.loc[df_['location'] == 'Ataşehir', 'location'] = 'Istanbul, Turkey'
    df_.loc[df_['location'] == 'atasehir', 'location'] = 'Istanbul, Turkey'
    df_.loc[df_['location'] == 'Muğla milas', 'location'] = 'Mugla, Turkey'
    df_.loc[df_['location'] == 'Besiktas', 'location'] = 'Istanbul, Turkey'
    df_.loc[df_['location'] == 'Istanbu', 'location'] = 'Istanbul, Turkey'
    df_.loc[df_['location'] == 'Ataşehir', 'location'] = 'Istanbul, Turkey'
    df_.loc[df_['location'] == 'İçerenköy Mh. Karaman Çiftlik Yolu Cd. Firuze Sk. Secretcv Plaza No:2 Ataşehir', 'location'] = 'Istanbul, Turkey'
    df_.loc[df_['location'] == 'Kahraman Maras, Turkey', 'location'] = 'Kahramanmaras, Turkey'
    df_.loc[df_['location'] == 'Pendik', 'location'] = 'Istanbul, Turkey'
    df_.loc[df_['location'] == 'Pendik Teknopark', 'location'] = 'Istanbul, Turkey'
    df_.loc[df_['location'] == 'Levent', 'location'] = 'Istanbul, Turkey'
    df_.loc[df_['location'] == 'Levent,Davutpaşa', 'location'] = 'Istanbul, Turkey'
    df_.loc[df_['location'] == 'Levent, Kolektif House', 'location'] = 'Istanbul, Turkey'
    df_.loc[df_['location'] == 'Kolektif House | Levent', 'location'] = 'Istanbul, Turkey'
    df_.loc[df_['location'] == 'Samandıra/Kadıköy/Levent', 'location'] = 'Istanbul, Turkey'
    df_.loc[df_['location'] == 'Beşiktaş', 'location'] = 'Istanbul, Turkey'
    df_.loc[df_['location'] == 'Beşiktaş/Akatlar', 'location'] = 'Istanbul, Turkey'
    df_.loc[df_['location'] == 'Fulya Beşiktaş', 'location'] = 'Istanbul, Turkey'
    df_.loc[df_['location'] == 'Ulus/Beşiktaş', 'location'] = 'Istanbul, Turkey'
    df_.loc[df_['location'] == 'Beşiktaş Barbaros', 'location'] = 'Istanbul, Turkey'
    df_.loc[df_['location'] == 'İçerenköy', 'location'] = 'Istanbul, Turkey'
    df_.loc[df_['location'] == 'İçerenköy Üner Plaza', 'location'] = 'Istanbul, Turkey'
    df_.loc[df_['location'] == 'Kağıthane', 'location'] = 'Istanbul, Turkey'
    df_.loc[df_['location'] == 'Bostancı', 'location'] = 'Istanbul, Turkey'
    df_.loc[df_['location'] == 'Ümraniye', 'location'] = 'Istanbul, Turkey'
    df_.loc[df_['location'] == 'Ümraniye ', 'location'] = 'Istanbul, Turkey'
    df_.loc[df_['location'] == 'Netaş HQ Ümraniye', 'location'] = 'Istanbul, Turkey'
    df_.loc[df_['location'] == 'Mecidiyeköy', 'location'] = 'Istanbul, Turkey'
    df_.loc[df_['location'] == 'Sarıyer', 'location'] = 'Istanbul, Turkey'
    df_.loc[df_['location'] == 'Şişli', 'location'] = 'Istanbul, Turkey'
    df_.loc[df_['location'] == 'Esentepe Şişli İst', 'location'] = 'Istanbul, Turkey'
    df_.loc[df_['location'] == 'Esentepe / Sisli', 'location'] = 'Istanbul, Turkey'
    df_.loc[df_['location'] == 'Kadıköy', 'location'] = 'Istanbul, Turkey'
    df_.loc[df_['location'] == 'Beşiktaş - Kadıköy', 'location'] = 'Istanbul, Turkey'
    df_.loc[df_['location'] == 'beşiktaş', 'location'] = 'Istanbul, Turkey'
    df_.loc[df_['location'] == 'Avcılar', 'location'] = 'Istanbul, Turkey'
    df_.loc[df_['location'] == 'avcılar', 'location'] = 'Istanbul, Turkey'
    df_.loc[df_['location'] == 'Avcılar Teknopark', 'location'] = 'Istanbul, Turkey'
    df_.loc[df_['location'] == 'pendik', 'location'] = 'Istanbul, Turkey'
    df_.loc[df_['location'] == 'Beyoğlu', 'location'] = 'Istanbul, Turkey'
    df_.loc[df_['location'] == 'Beyoğlu, Galata', 'location'] = 'Istanbul, Turkey'
    df_.loc[df_['location'] == 'Karaköy', 'location'] = 'Istanbul, Turkey'
    df_.loc[df_['location'] == 'bostancı ebebek', 'location'] = 'Istanbul, Turkey'
    df_.loc[df_['location'] == 'bostancı ', 'location'] = 'Istanbul, Turkey'
    df_.loc[df_['location'] == '4.levent', 'location'] = 'Istanbul, Turkey'
    df_.loc[df_['location'] == 'ista', 'location'] = 'Istanbul, Turkey'
    df_.loc[df_['location'] == 'ist', 'location'] = 'Istanbul, Turkey'
    df_.loc[df_['location'] == 'İst', 'location'] = 'Istanbul, Turkey'
    df_.loc[df_['location'] == 'Çekmeköy', 'location'] = 'Istanbul, Turkey'
    df_.loc[df_['location'] == 'çekmeköy', 'location'] = 'Istanbul, Turkey'
    df_.loc[df_['location'] == 'nişantaşı', 'location'] = 'Istanbul, Turkey'
    df_.loc[df_['location'] == 'ataşehir', 'location'] = 'Istanbul, Turkey'
    df_.loc[df_['location'] == 'Batı ataşehir', 'location'] = 'Istanbul, Turkey'
    df_.loc[df_['location'] == 'Taksim', 'location'] = 'Istanbul, Turkey'
    df_.loc[df_['location'] == 'Kadıköy/Fenerbahçe', 'location'] = 'Istanbul, Turkey'
    df_.loc[df_['location'] == 'Göztepe', 'location'] = 'Istanbul, Turkey'
    df_.loc[df_['location'] == 'Ortaköy', 'location'] = 'Istanbul, Turkey'
    df_.loc[df_['location'] == 'Yıldız teknik üniversitesi teknopark', 'location'] = 'Istanbul, Turkey'
    df_.loc[df_['location'] == 'yıldız teknik üniversitesi teknopark', 'location'] = 'Istanbul, Turkey'
    df_.loc[df_['location'] == 'ytü teknopark', 'location'] = 'Istanbul, Turkey'
    df_.loc[df_['location'] == 'Davutpaşa YTU teknopark', 'location'] = 'Istanbul, Turkey'
    df_.loc[df_['location'] == 'Yıldız teknopark ', 'location'] = 'Istanbul, Turkey'
    df_.loc[df_['location'] == 'ytu davutpasa teknopark', 'location'] = 'Istanbul, Turkey'
    df_.loc[df_['location'] == 'Gebze', 'location'] = 'Kocaeli, Turkey'
    df_.loc[df_['location'] == 'Maslak', 'location'] = 'Istanbul, Turkey'
    df_.loc[df_['location'] == 'İTÜ Maslak Kampüsü', 'location'] = 'Istanbul, Turkey'
    df_.loc[df_['location'] == 'Maslak, Turkey', 'location'] = 'Istanbul, Turkey'
    df_.loc[df_['location'] == 'Acıbadem', 'location'] = 'Istanbul, Turkey'
    df_.loc[df_['location'] == 'Acıbadem genel müdürlük', 'location'] = 'Istanbul, Turkey'
    df_.loc[df_['location'] == 'Acıbadem/ Anadolu Yakası Bölge Müdürlüğü', 'location'] = 'Istanbul, Turkey'
    df_.loc[df_['location'] == 'Üsküdar', 'location'] = 'Istanbul, Turkey'
    df_.loc[df_['location'] == 'Dudullu', 'location'] = 'Istanbul, Turkey'
    df_.loc[df_['location'] == 'Dudullu ', 'location'] = 'Istanbul, Turkey'
    df_.loc[df_['location'] == 'Dudullu OSB 2. Cadde No:4', 'location'] = 'Istanbul, Turkey'

    df_['location'] = df_['location'].apply(lambda x: str(x).replace('Türkiye', 'Turkey'))
    df_['location'] = df_['location'].apply(lambda x: x.upper().strip())
    df_['location'] = df_['location'].apply(lambda x: translation(str(x)))
    
    tr_cities = load_tr_cities()
    for city in tr_cities:
        df_['location'] = df_['location'].apply(lambda x: city if city in x else x)

    df_.loc[df_['location'] == 'NAN', 'location'] = np.nan
    df_ = df_.sort_values(by=['user_id', 'start_date'])
    df_ = df_.drop_duplicates(subset=['user_id', 'start_date']).reset_index(drop=True)

    most_freq_locs = df_['location'].value_counts().keys()[:size].tolist()
    grouped = df_.groupby(by='user_id', as_index=False).agg({'location': 'unique'})
    for lang in tqdm(most_freq_locs):
        grouped[f'{seperator}_{lang}'] = grouped['location'].apply(lambda x: 1 if lang in x else 0)

    #grouped = grouped.merge(df_.groupby(by='user_id', as_index=False).agg(total_locations=('location', 'nunique')), on=['user_id'], how='left')
    grouped = grouped.drop(columns=['location'], axis=1)
    
    return grouped

In [337]:
#df = load_work_experiences('../../../datasets/garanti-bbva-data-camp/work_experiences.csv')

#df.head(20)

100%|██████████| 10/10 [00:02<00:00,  4.84it/s]

,user_id,exp_ISTANBUL,exp_ANKARA,exp_IZMIR,exp_KOCAELI,exp_TURKEY,exp_BURSA,exp_ESKISEHIR,exp_SAKARYA,exp_ANTALYA,exp_MANISA,total_locations
0,0,0,0,0,0,0,0,0,0,0,0,1
1,2,0,0,0,0,0,0,0,0,0,0,2
2,5,1,0,0,0,0,0,0,0,0,0,1
3,7,1,0,0,0,0,0,0,0,0,0,3
4,10,1,0,0,0,0,0,0,0,0,0,2
5,11,1,0,0,0,0,0,0,0,0,0,1
6,12,0,0,0,0,0,0,0,0,0,0,1
7,13,1,0,0,0,0,0,0,0,0,0,2
8,14,1,0,0,0,0,0,0,0,0,0,1
9,16,1,0,0,0,0,0,0,0,0,0,1
10,17,1,0,0,0,0,0,0,0,0,0,1
11,18,1,0,0,0,0,0,0,0,0,0,2
12,22,1,0,1,0,0,0,0,0,0,0,2
13,24,0,1,0,0,0,0,0,0,0,0,2
14,25,0,0,0,0,0,0,0,0,0,0,0
15,26,0,0,0,0,0,0,0,0,0,0,1
16,27,0,0,0,0,0,0,0,0,0,0,0
17,31,1,0,0,0,0,0,0,0,0,0,1
18,32,0,0,0,0,0,0,0,0,0,0,1
19,33,1,0,0,0,0,0,0,0,0,0,1

In [331]:
#df.loc[df['location'].astype(str).str.contains('Dudullu'), 'location'].value_counts()